[submodule "bundle/vundle"]
	path = bundle/vundle
	url = http://github.com/gmarik/vundle.git
[submodule "bundle/neobundle.vim"]
	path = bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
